[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nanoid = "*"
flask = "*"
flask-sqlalchemy = "*"
geoalchemy2 = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
